:root {
    --height-header: 60px;
    --height-courseList: 300px;
    --height-courseList-header: 30px;

    --width-courseList: 200px;

    --color-background: rgb(221, 239, 221);
    --color-li-hover: rgb(74, 175, 247);

    --heigh-courseSelect: 300px;
    --height-courseSelect-header: 30px;

    --width-courseSelect: 200px;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

.header {
    position: fixed;
    height: var(--height-header);
    width: 100%;
    padding-left: 10px;
    font-size: 2rem;
    line-height: var(--height-header);
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bolder;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseList {
    height: var(--heigh-courseList);
    width: var(--width-courseList);

    border-style: groove;
    border-radius: 2px;

    position: fixed;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
}

.courseSelect {
    height: var(--heigh-courseList);
    width: var(--width-courseList);
    border-style: groove;
    border-radius: 2px;

    position: fixed;
    top: 30%;
    right: 2cd 0%;
    transform: translate(-30%, -30%);
}


ul li {
    text-transform: capitalize;

    width: 100%;
    height: var(--height-courseList-header);
    list-style: var(--height-courseList-header);
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.courseList li:nth-child(2n){
    background-color: var(--color-background);
}

.courseList li{
    border-style: solid;
  border-width: 2px;

 
}


.courseList_header,
.courseSelect_header {
    font-weight: bolder;
    text-align: center;
    height: var(--height-courseList-header);
}


ul {
    height: calc(var(--height-courseList) - var(--height-courseList-header));
    overflow: auto;
    bor

}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px ;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}